{% render 'partials/head.liquid' %}

<article class="container">
  <header class="profile-card">
    <img width="80" height="80"  src="{{ person.avatar }}">
    <p>{{ person.bio }}</p>
    <p>{{ person.name }}</p>
  </header>
  <section class="profile-content">
    <section class="experience-box">

    <!-- Slideshow Container -->
    <div class="slideshow-container" onclick="showNextSlide()">
      {% for block in person.custom.blocks %}
        <img class="slideshow-image {% if forloop.first %}active{% endif %}"  src="{{ block.img }}">
      {% endfor %}
    </div>    

    </section>
    <section class="description-box">
      <h2>Hi, I'm {{ person.nickname }},{{ person.custom.description}}</h2>
      <p>{{ person.custom.inspiration}}</p>
      

    </section>
  </section>
  <footer>
   <section class="card__social" id="card-social">
      <span class="card__social-text">Find me on</span>
      <ul class="card__social-list">
        <li><a href="https://www.facebook.com" target="_blank"><img src="/icons/facebook.png" alt="Facebook" class="social-icon"></a></li>
        <li><a href="https://www.twitter.com" target="_blank"><img src="/icons/twitter.png" alt="Twitter" class="social-icon"></a></li>
        <li><a href="https://www.instagram.com" target="_blank"><img src="/icons/instagram.png" alt="Instagram" class="social-icon"></a></li>
        <li><a href="https://www.linkedin.com" target="_blank"><img src="/icons/linkedin.png" alt="LinkedIn" class="social-icon"></a></li>
      </ul>
      <span class="card__social-text">or check my <a href="{{ person.website }}" target="_blank">GitHub</a></span>


    </section>
  </footer>
</article>

{% render 'partials/foot.liquid' %}


  

